.main_navbar {
    .navbar-brand {
        width: 15%;

        img {
            width: 100%;
        }
    }

    .nav-link {
        padding-right: 35px !important;
        font-size: 15px;
        font-weight: 700;
    }
}