.logo{
    margin-top: 70px;
    text-align: center;
        img{
            width: 15%;
        }
    }
.Goole_sign{
    width: 50%;
    margin: 0px auto;
    margin-top: 50px;
    text-align: center;
    button{
        width: 75%;
        padding: 5px 10px;
        border: 1px solid gray;
        border-radius: 50px;
        background: transparent;
        display: flex;
        align-items: center;
        margin: 0 auto;
        margin-bottom: 12px;
        &:focus {
            outline: none;
        }
        img{
            width: 7%;
        }
        p{
            text-align: center;
            width: 100%;
            padding: 0;
            margin: 0;
            font-weight: 600;
        }
    }
}